extends layout

block content
	//- div#vide-island(data-vide-bg="mp4: /video/wave.mp4" data-vide-options="postion: 0% 0%, muted: false, loop:true")  
	.container
		br
		br
		//- .jumbotron
		//- 	h1 Welcome to Galvanize Pirates!
		//- 	p view a list of pirates or add a new one!
		//- 	a.btn.btn-success(href="#") Add Pirate!
		//- table.table.table-hover
		//- 	thead.table-inverse
		//- 		each val, key in pirates[0]
		//- 			th= key
		//- 		th Edit 
		//- 		th Delete 
		//- 	tbody
		//- 		each pirate in pirates
		//- 			tr
		//- 				each val2, key2 in pirates[0]
		//- 					td= pirate[key2]
		//- 				td 
		//- 					a.btn.btn-primary Edit
		//- 				td 
		//- 					a.btn.btn-danger Delete
		html
			body
				.card-columns
					each pirate in pirates
						.card(class="card-#{pirate.pirate_beard}")
							img.card-img-top.img-responsive(src='#{pirate.pirate_image_url}', alt='Card image cap')
							.card-block
								h4.card-title #{pirate.pirate_name}
							ul.list-group.list-group-flush
								li.list-group-item 
									strong Accessory: 
									span #{pirate.pirate_accessory}
								li.list-group-item 
									strong Beard: 
									span #{pirate.pirate_beard}
								li.list-group-item 
									strong Drink: 
									span #{pirate.pirate_drink}
								li.list-group-item 
									strong Weapon: 
									span #{pirate.pirate_weapon}
							.card-footer.text-muted.text-center
								.btn-group
									a.btn.btn-primary(href="/pirates/#{pirate.id}/edit") Edit
									a.btn.btn-danger(href="/pirates/#{pirate.id}/delete") Delete
